<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body>
    <header>
      <nav>
        <h1>My Favourite Soccer Players</h1>
        <a href="/">
          <i class="fas fa-home"></i>
        </a>
      </nav>
    </header>    
    <main>
      {{{body}}}
    </main>
    <footer>
      <p> Made by Main Shalabi, I hope you enjoyed looking at them :)</p>
      <br/>
    </footer>
  </body>
</html>